<html>
    
    <body bgcolor=#FFFFFF
    

        <center>
            <br><br><br><br><br><br><br>

        <h1 style="font-family:courier;background-color:yellow;"> Insta handle popularity </h1><br><br><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b style="font-family:courier;background-color:powderblue;"> 
            First account :  <input type="text", name='a'> <br><br>
            Second account :  <input type="text", name='b'> <br><br>
            Third account :  <input type="text", name='c' > <br><br>
            Fourth account : <input type="text", name='d'> <br><br>
            Fifth account : <input type="text", name='e'> <br><br><br></b>
            <input style="font-family:courier;background-color:yellowgreen;" type="submit" , value='compare!' >
        </form>

        
        
    </center>

    </body>
</html>
